!
! Zebra configuration saved from vty
!   2004/05/31 00:43:53
!
hostname mpls_te
password zebra
!
line vty
!
interface tunnel Cisco1
  tunnel destination 10.13.163.170
  tunnel mpls traffic-eng bandwidth 1000
  exit
interface tunnel Cisco0
  tunnel destination 10.13.163.170
  exit
